body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif; }
  body header {
    z-index: 1;
    height: 10vh;
    top: 0;
    position: sticky;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    body header div h1 {
      font-family: 'Kalam', cursive;
      font-size: 35px;
      margin: 0; }
    body header div .nav-icon-open, body header div .nav-icon-close {
      display: none; }
    body header nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      align-items: center; }
      body header nav ul li {
        position: relative;
        margin: 0 15px;
        display: flex; }
        body header nav ul li a {
          z-index: 2;
          color: black;
          text-decoration: none;
          font-size: 20px;
          transition: 0.3s; }
          body header nav ul li a:hover {
            opacity: 0.7; }
        body header nav ul li::before {
          display: none;
          z-index: 1;
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: black;
          bottom: 0;
          border-radius: 2px;
          animation: hoverLink 0.3s linear; }

@keyframes hoverLink {
  from {
    width: 0; }
  to {
    width: 110%; } }
        body header nav ul li:hover::before {
          display: block; }
        body header nav ul li:nth-child(4) {
          transition: 0.3s; }
          body header nav ul li:nth-child(4) a {
            color: #dfdfdf;
            padding: 10px 20px;
            background: #b912b9;
            border: 1px solid #b33db3;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: 0.3s; }
            body header nav ul li:nth-child(4) a:hover {
              background: #910191; }
          body header nav ul li:nth-child(4):hover {
            transform: scale(1.05); }
          body header nav ul li:nth-child(4)::before {
            display: none; }

@media (max-width: 600px) {
  body {
    margin: 0; }
    body header {
      height: auto;
      padding: 0 15px;
      flex-direction: column; }
      body header div {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body header div .nav-icon-open, body header div .nav-icon-close {
          display: none;
          width: 30px;
          fill: #910191; }
        body header div .active {
          display: block; }
      body header nav {
        display: none;
        padding-bottom: 1rem;
        animation: nav-animation 0.5s ease-out forwards; }
  @keyframes nav-animation {
    from {
      height: 0; }
    to {
      height: 30vh; } }
        body header nav ul {
          height: 100%;
          margin: 0;
          flex-direction: column;
          justify-content: space-around; }
          body header nav ul li {
            margin: 0;
            opacity: 0;
            animation: opacity-links 0.5s forwards;
            animation-delay: 0.5s; }
            body header nav ul li a {
              font-size: 23px; }
  @keyframes opacity-links {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
      body header .nav-height {
        display: block; } }

body .inicio {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  body .inicio div:nth-child(1) {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body .inicio div:nth-child(1) img {
      top: -30%;
      right: 20%;
      position: absolute;
      width: 20%;
      transform: rotate(20deg); }
    body .inicio div:nth-child(1) h2 {
      color: #550055;
      font-size: 65px;
      line-height: 85px;
      font-family: 'Kalam', cursive;
      margin: 0; }
    body .inicio div:nth-child(1) p {
      font-size: 20px;
      border-bottom: 1px solid black;
      margin: 0 0 5% 0; }
  body .inicio div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .inicio div:nth-child(2) img {
      width: 35%;
      margin: 0 15px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: 0.3s; }
      body .inicio div:nth-child(2) img:nth-child(1) {
        transform: translateY(-20%); }
        body .inicio div:nth-child(2) img:nth-child(1):hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 9px 19px;
          transform: scale(1.03) translateY(-20%); }
      body .inicio div:nth-child(2) img:nth-child(2) {
        transform: translateY(10%); }
        body .inicio div:nth-child(2) img:nth-child(2):hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 9px 19px;
          transform: scale(1.03) translateY(10%); }
  body .inicio span {
    z-index: -1;
    position: absolute;
    height: 50%;
    background: #ffb2ff;
    width: 100%;
    transform: translateY(-5%); }
  body .inicio .planta-esquina-arriba {
    z-index: -1;
    top: 0;
    right: 0;
    width: 35%;
    position: absolute; }
  body .inicio .planta-esquina-abajo {
    z-index: -1;
    position: absolute;
    bottom: -20vh;
    left: 0;
    width: 33%; }

@media (max-width: 600px) {
  body .inicio {
    flex-direction: column; }
    body .inicio div:nth-child(1) {
      width: 100%;
      margin-top: 2rem; }
      body .inicio div:nth-child(1) img {
        right: 10%;
        width: 30%; }
      body .inicio div:nth-child(1) h2 {
        font-size: 50px;
        line-height: 65px; }
      body .inicio div:nth-child(1) p {
        font-size: 18px;
        margin: 0; }
    body .inicio div:nth-child(2) {
      width: 100%; }
    body .inicio span {
      height: 40%; }
    body .inicio .planta-esquina-arriba {
      width: 80%; }
    body .inicio .planta-esquina-abajo {
      bottom: -15vh;
      width: 55%; } }
